<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techastrum.attendance">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".activities.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launche1"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launche1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.student_attandence.StudentOtherActivity"></activity>
        <activity android:name=".activities.student_attandence.ViewDailyReportActivity" />
        <activity android:name=".activities.student_attandence.StudentPositionActivity" />
        <activity android:name=".activities.student_attandence.SelectTimeActivity" />
        <activity android:name=".activities.student_attandence.SelectDateActivity" />
        <activity android:name=".activities.student_attandence.ViewAttendanceActivity" />
        <activity android:name=".activities.student_attandence.ViewStudentsActivity" />
        <activity android:name=".activities.student_attandence.TakeAttendanceActivity" />
        <activity android:name=".activities.student_attandence.TeacherPanelActivity" />
        <activity android:name=".activities.student_attandence.AddTeacherActivity" />
        <activity android:name=".activities.student_attandence.ViewAllTeacherActivity" />
        <activity android:name=".activities.student_attandence.ViewAllStudentActivity" />
        <activity android:name=".activities.activities.Merazila" />
        <activity android:name=".activities.activities.SecurityActivity" />
        <activity android:name=".activities.activities.AdminPost" />
        <activity android:name=".activities.student_attandence.StudentActivities" />
        <activity android:name=".activities.activities.UpdatePost" />
        <activity android:name=".activities.student_attandence.ViewAllClasses" />
        <activity android:name=".activities.activities.UserProfile" />
        <activity android:name=".activities.activities.ShopActivity" />
        <activity android:name=".activities.activities.AdvanceSearch" />
        <activity android:name=".activities.activities.UserLogin" />
        <activity android:name=".activities.student_attandence.AddStudent" />
        <activity android:name=".activities.activities.DetailActivity" />
        <activity
            android:name=".activities.student_attandence.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activities.activities.ImagePickerActivity" />
        <activity
            android:name=".activities.activities.SplashScreen"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.activities.DistActivity" />
        <activity android:name=".activities.activities.MainActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="fullSensor"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- cache directory file provider paths -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>